<div class="page-heading">

    <h1>Register a new book</h1>

</div>

<form action="/book/create" method="POST" enctype="multipart/form-data">

    <div class="control-group">

        <div class="form-group floating-label-form-group controls">

            <label>title</label>

            <input type="text" class="form-control" id="title" name="title">

        </div>

    </div>

    <div class="control-group">

        <div class="form-group floating-label-form-group controls">

            <label>Description</label>

            <input type="text" class="form-control" id="description" name="description">

        </div>

    </div>

    <div class="control-group">

        <div class="form-group floating-label-form-group controls">

            <label>Author</label>

            <input type="text" class="form-control" id="author" name="author">

        </div>

    </div>

    <div class="form-group">

        <button type="submit" class="btn btn-primary" >Create</button></div>

</form>